header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        //- Uncomment the image below if logo is available
                        // img(src="/images/logo.svg", alt="Logo")
                        strong.logo-title Prodify

            .col-9
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chủ
                        li
                            a(href="/products") Sản phẩm
