include ../mixins/sub-menu.pug
header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        //- Uncomment the image below if logo is available
                        // img(src="/images/logo.svg", alt="Logo")
                        strong.logo-title Prodify
            .col-5.search-bar
                form(action="/search", method="GET").col-5
                    .form-group.d-flex.mb-0
                        input(type="text", placeholder="Enter keyword...", class="form-control", name="keyword")
                        button(type="submit", class="btn btn-primary") Find
            .col-4
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chủ
                        li(class='sub-menu')
                            - const pathProduct = `/products`
                            a(href="/products") Product 
                            +sub-menu(layoutProductsCategory, pathProduct)
    link(rel="stylesheet", href="/css/submenu/submenu.css")
    link(rel="stylesheet", href="/css/submenu/searchbar.css")