include product-item.pug
mixin product-grid(products)
  if products && products.length
    .container
      .row.g-4.justify-content-center
        each item in products
          +product-item(item)
  else
    .text-center.text-muted Not found.