extends ../../layouts/default.pug

include ../../mixins/alert.pug

block main
    +alert-error(5000)
    +alert-success(5000)
    .container.my-5
        .row.justify-content-center
            .col-12.col-md-8
                h1.text-center Reset password
                form(action="/user/password/reset" method="POST")
                    .form-group
                        label(for="password") New password
                        input#password.form-control(type="password" name="password" required placeholder="Nhập mật khẩu mới")
                    .form-group
                        label(for="confirmPassword") comfirm password
                        input#confirmPassword.form-control(type="password" name="confirmPassword" required placeholder="Xác nhận mật khẩu mới")
                    button.btn.btn-primary.btn-block(type="submit") Change