.sider 
    h2 Admin
    .inner-menu 
        ul 
            li 
                //- a(href=`${prefixAdmin}/dashboard`) Dashboard
                a(href= prefixAdmin + '/dashboard') Dashboard
            
            li 
                a(href= prefixAdmin + '/products') Product
            li 
                a(href= prefixAdmin + '/products-category') Product Category
                
            li
                a(href=prefixAdmin + "/roles") Roles
            li 
                a(href=prefixAdmin + "/roles/permissions") Permissions
            li 
                a(href=prefixAdmin + "/accounts") Accounts
